body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Germania One', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body h1 {
  text-align: center;
  margin: 0;
  font-size: 100px;
}
section.natural-lang {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: auto;
  width: 100%;
}
section.natural-lang div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section.natural-lang div textarea {
  border-radius: 15px;
  width: 50%;
  outline: none;
  padding: 0px 10px;
  font-size: 15px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  resize: none;
  overflow: hidden;
}
section.natural-lang div h1 {
  margin: 0;
  font-size: 300px;
  font-family: 'Germania One', cursive;
  line-height: 282px;
  height: 300px;
}
section.natural-lang button {
  padding: 5px 25px;
  margin: auto;
  border: none;
  outline: none;
  background-color: lightgrey;
  border-radius: 15px;
  font-size: 25px;
  margin-top: 15px;
  font-family: 'Germania One', cursive;
  transition: all 0.5s ease;
}
section.natural-lang button:hover {
  transition: all 0.5s ease;
  background-color: grey;
  cursor: pointer;
}
