{% extends "template.html" %}
{% block title %}sketchr{% endblock %}
{% block body %}

  <form id="userInput" action="/" method="post" autocomplete="off">
    <section class="natural-lang">
      <div>
        <h1>></h1>
        <textarea type="text" name="natlang">{{ input }}</textarea>
        <h1><</h1>
      </div>
      <section class="info">
          <h3>Output:</h3>
          <pre>{{ output }}</pre>
          <!-- <div style="position: relative; width: 500px; height: 500px;"> -->
            <!-- <frame width="750px" height="750px">
              {{ visual }}
            </frame> -->
          <!-- </div> -->
      </section>
      <button type="submit" name="button">generate</button>
    </section>
  </form>

{% endblock %}
