<!DOCTYPE html>
<html lang="en" dir="ltr">
<head >
</head>
<body >
<div style='position:absolute;width:1000px;height:500px;top:0px;left:0px;z-index:0;background-image:url("http://farm4.static.flickr.com/3041/2969182301_5b82fcec45.jpg");background-size:cover;background-position:center;background-repeat:no-repeat;'>
</div>
<div style='position:absolute;width:80.0px;height:80.0px;filter:opacity(0.6) drop-shadow(0 0 0 #ffffff);background:url("http://farm3.static.flickr.com/2271/2182589027_d368a1f5c8.jpg");top:410px;left:0px;z-index:1;background-size:contain;background-position:center;background-repeat:no-repeat;'>
</div>
</body>
</html>