<!DOCTYPE html>
<html lang="en" dir="ltr">
<head >
</head>
<body >
<div style='position:absolute;width:1000px;height:500px;top:0px;left:0px;z-index:0;background-image:url("https://upload.wikimedia.org/wikipedia/commons/9/97/The_Earth_seen_from_Apollo_17.jpg");background-size:cover;background-position:center;background-repeat:no-repeat;'>
</div>
<div style='position:absolute;width:500.0px;height:500.0px;filter:opacity(0.6) drop-shadow(0 0 0 #ffff00);background:url("https://sitejerk.com/images/dog-on-transparent-background-3.png");top:-10px;left:0px;z-index:1;background-size:contain;background-position:center;background-repeat:no-repeat;'>
</div>
<div style='position:absolute;width:500.0px;height:500.0px;filter:opacity(0.6) drop-shadow(0 0 0 #ffff00);background:url("https://sitejerk.com/images/dog-on-transparent-background-3.png");top:-10px;left:100px;z-index:1;background-size:contain;background-position:center;background-repeat:no-repeat;'>
</div>
</body>
</html>