<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/autoexpand.js') }}"></script>
  </head>
  <body>
    <h1>sketchr</h1>
    {% block body %}{% endblock %}
  </body>
</html>
